<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <jmxConfigurator/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
<!--            <pattern>%date[%thread]%-5level %logger{1}.%M-%L-%msg%n</pattern>-->
            <pattern>%date[%thread]%-5level-%msg%n</pattern>
        </layout>
    </appender>

    <root>
        <level value="info"/>
        <appender-ref ref="stdout"/>
<!--        <appender-ref ref="KafkaAppender"/>-->
<!--        <appender-ref ref="ROLLING"/>-->
    </root>
</configuration>